<table class="table">
    @for(ejemplar of listaEjemplar; track ejemplar.isbn) {
        <tr>
            <td>{{ejemplar.isbn}}</td>
            <td>{{ejemplar.numero}}</td>
            <td>{{ejemplar.disponible}}</td>
                    <td><a class="btn-btn-primary" [routerLink]="['/detalleejemplar',ejemplar.isbn, ejemplar.numero]">detalle</a></td>
                    <td><button class="btn btn-warning" (click)="borrar(ejemplar.isbn,ejemplar.numero)">Borrar</button></td>
           </tr>
    }
</table>
<a routerLink="/formularioejemplar">ir a formulario</a>
